**/output/
**.exe
**/.cph/
~$*
**.tmp
c++ primer plus/c++ primer plus附录.pdf
c++ primer plus/Appendix E/align.cpp
c++ primer plus/Appendix E/memb_pt.cpp
c++ primer plus/Appendix E/noex.cpp
c++ primer plus/Appendix G/appg01.cpp
c++ primer plus/Appendix G/appg02.cpp
c++ primer plus/Appendix G/appg3.cpp
c++ primer plus/Appendix G/appg04.cpp
c++ primer plus/Appendix G/perfectf.cpp
c++ primer plus/Chapter 10/stack.cpp
c++ primer plus/Chapter 10/stack.h
c++ primer plus/Chapter 10/stacker.cpp
c++ primer plus/Chapter 10/stock00.cpp
c++ primer plus/Chapter 10/stock00.h
c++ primer plus/Chapter 10/stock01.cpp
c++ primer plus/Chapter 10/stock10.cpp
c++ primer plus/Chapter 10/stock10.h
c++ primer plus/Chapter 10/stock20.cpp
c++ primer plus/Chapter 10/stock20.h
c++ primer plus/Chapter 10/stocks.cpp
c++ primer plus/Chapter 10/temp20.cpp
c++ primer plus/Chapter 10/usestok0.cpp
c++ primer plus/Chapter 10/usestok1.cpp
c++ primer plus/Chapter 10/usestok2.cpp
c++ primer plus/Chapter 11/mytime.cpp
c++ primer plus/Chapter 11/mytime0.h
c++ primer plus/Chapter 11/mytime1.cpp
c++ primer plus/Chapter 11/mytime1.h
c++ primer plus/Chapter 11/mytime2.cpp
c++ primer plus/Chapter 11/mytime2.h
c++ primer plus/Chapter 11/mytime3.cpp
c++ primer plus/Chapter 11/mytime3.h
c++ primer plus/Chapter 11/randwalk.cpp
c++ primer plus/Chapter 11/stone.cpp
c++ primer plus/Chapter 11/stone1.cpp
c++ primer plus/Chapter 11/stonewt.cpp
c++ primer plus/Chapter 11/stonewt.h
c++ primer plus/Chapter 11/stonewt1.cpp
c++ primer plus/Chapter 11/stonewt1.h
c++ primer plus/Chapter 11/usetime0.cpp
c++ primer plus/Chapter 11/usetime1.cpp
c++ primer plus/Chapter 11/usetime2.cpp
c++ primer plus/Chapter 11/usetime3.cpp
c++ primer plus/Chapter 11/vect.cpp
c++ primer plus/Chapter 11/vect.h
c++ primer plus/Chapter 12/bank.cpp
c++ primer plus/Chapter 12/placenew1.cpp
c++ primer plus/Chapter 12/placenew2.cpp
c++ primer plus/Chapter 12/queue.cpp
c++ primer plus/Chapter 12/queue.h
c++ primer plus/Chapter 12/sayings1.cpp
c++ primer plus/Chapter 12/sayings2.cpp
c++ primer plus/Chapter 12/string1.cpp
c++ primer plus/Chapter 12/string1.h
c++ primer plus/Chapter 12/strngbad.cpp
c++ primer plus/Chapter 12/strngbad.h
c++ primer plus/Chapter 12/vegnews.cpp
c++ primer plus/Chapter 13/acctabc.cpp
c++ primer plus/Chapter 13/acctabc.h
c++ primer plus/Chapter 13/brass.cpp
c++ primer plus/Chapter 13/brass.h
c++ primer plus/Chapter 13/dma.cpp
c++ primer plus/Chapter 13/dma.h
c++ primer plus/Chapter 13/tabtenn0.cpp
c++ primer plus/Chapter 13/tabtenn0.h
c++ primer plus/Chapter 13/tabtenn1.cpp
c++ primer plus/Chapter 13/tabtenn1.h
c++ primer plus/Chapter 13/usebrass1.cpp
c++ primer plus/Chapter 13/usebrass2.cpp
c++ primer plus/Chapter 13/usebrass3.cpp
c++ primer plus/Chapter 13/usedma.cpp
c++ primer plus/Chapter 13/usett0.cpp
c++ primer plus/Chapter 13/usett1.cpp
c++ primer plus/Chapter 14/arraytp.h
c++ primer plus/Chapter 14/frnd2tmp.cpp
c++ primer plus/Chapter 14/manyfrnd.cpp
c++ primer plus/Chapter 14/pairs.cpp
c++ primer plus/Chapter 14/stacktem.cpp
c++ primer plus/Chapter 14/stacktp.h
c++ primer plus/Chapter 14/stckoptr1.cpp
c++ primer plus/Chapter 14/stcktp1.h
c++ primer plus/Chapter 14/studentc.cpp
c++ primer plus/Chapter 14/studentc.h
c++ primer plus/Chapter 14/studenti.cpp
c++ primer plus/Chapter 14/studenti.h
c++ primer plus/Chapter 14/tempmemb.cpp
c++ primer plus/Chapter 14/tempparm.cpp
c++ primer plus/Chapter 14/tmp2tmp.cpp
c++ primer plus/Chapter 14/twod.cpp
c++ primer plus/Chapter 14/use_stuc.cpp
c++ primer plus/Chapter 14/use_stui.cpp
c++ primer plus/Chapter 14/worker0.cpp
c++ primer plus/Chapter 14/worker0.h
c++ primer plus/Chapter 14/workermi.cpp
c++ primer plus/Chapter 14/workermi.h
c++ primer plus/Chapter 14/workmi.cpp
c++ primer plus/Chapter 14/worktest.cpp
c++ primer plus/Chapter 15/constcast.cpp
c++ primer plus/Chapter 15/error1.cpp
c++ primer plus/Chapter 15/error2.cpp
c++ primer plus/Chapter 15/error3.cpp
c++ primer plus/Chapter 15/error4.cpp
c++ primer plus/Chapter 15/error5.cpp
c++ primer plus/Chapter 15/exc_mean.h
c++ primer plus/Chapter 15/nested.cpp
c++ primer plus/Chapter 15/newexcp.cpp
c++ primer plus/Chapter 15/newexcpn.cpp
c++ primer plus/Chapter 15/queuetp.h
c++ primer plus/Chapter 15/rtti1.cpp
c++ primer plus/Chapter 15/rtti2.cpp
c++ primer plus/Chapter 15/sales.cpp
c++ primer plus/Chapter 15/sales.h
c++ primer plus/Chapter 15/tv.cpp
c++ primer plus/Chapter 15/tv.h
c++ primer plus/Chapter 15/tvfm.h
c++ primer plus/Chapter 15/use_sales.cpp
c++ primer plus/Chapter 15/use_tv.cpp
c++ primer plus/Chapter 15/use_tvfm.cpp
c++ primer plus/Chapter 16/copyit.cpp
c++ primer plus/Chapter 16/fowl.cpp
c++ primer plus/Chapter 16/fowlsp.cpp
c++ primer plus/Chapter 16/fowlup.cpp
c++ primer plus/Chapter 16/funadap.cpp
c++ primer plus/Chapter 16/functor.cpp
c++ primer plus/Chapter 16/hangman.cpp
c++ primer plus/Chapter 16/ilist.cpp
c++ primer plus/Chapter 16/inserts.cpp
c++ primer plus/Chapter 16/insertsvar.cpp
c++ primer plus/Chapter 16/list.cpp
c++ primer plus/Chapter 16/listrmv.cpp
c++ primer plus/Chapter 16/multmap.cpp
c++ primer plus/Chapter 16/setops.cpp
c++ primer plus/Chapter 16/smrtptrs.cpp
c++ primer plus/Chapter 16/str1.cpp
c++ primer plus/Chapter 16/str2.cpp
c++ primer plus/Chapter 16/strfile.cpp
c++ primer plus/Chapter 16/strngstl.cpp
c++ primer plus/Chapter 16/tobuy.txt
c++ primer plus/Chapter 16/unique.cpp
c++ primer plus/Chapter 16/usealgo.cpp
c++ primer plus/Chapter 16/valarr0x.cpp
c++ primer plus/Chapter 16/valvect.cpp
c++ primer plus/Chapter 16/vect1.cpp
c++ primer plus/Chapter 16/vect2.cpp
c++ primer plus/Chapter 16/vect3.cpp
c++ primer plus/Chapter 16/vectlist.cpp
c++ primer plus/Chapter 16/vslice.cpp
c++ primer plus/Chapter 17/append.cpp
c++ primer plus/Chapter 17/binary.cpp
c++ primer plus/Chapter 17/check_it.cpp
c++ primer plus/Chapter 17/cinexcp.cpp
c++ primer plus/Chapter 17/count.cpp
c++ primer plus/Chapter 17/defaults.cpp
c++ primer plus/Chapter 17/fileio.cpp
c++ primer plus/Chapter 17/files.cpp
c++ primer plus/Chapter 17/fill.cpp
c++ primer plus/Chapter 17/get_fun.cpp
c++ primer plus/Chapter 17/iomanip.cpp
c++ primer plus/Chapter 17/manip.cpp
c++ primer plus/Chapter 17/peeker.cpp
c++ primer plus/Chapter 17/precise.cpp
c++ primer plus/Chapter 17/random.cpp
c++ primer plus/Chapter 17/realwrld.cpp
c++ primer plus/Chapter 17/setf.cpp
c++ primer plus/Chapter 17/setf2.cpp
c++ primer plus/Chapter 17/showpt.cpp
c++ primer plus/Chapter 17/strin.cpp
c++ primer plus/Chapter 17/strout.cpp
c++ primer plus/Chapter 17/truncate.cpp
c++ primer plus/Chapter 17/width.cpp
c++ primer plus/Chapter 17/write.cpp
c++ primer plus/Chapter 18/callable.cpp
c++ primer plus/Chapter 18/lambda0.cpp
c++ primer plus/Chapter 18/lambda1.cpp
c++ primer plus/Chapter 18/lexcast.cpp
c++ primer plus/Chapter 18/rvref.cpp
c++ primer plus/Chapter 18/somedefs.h
c++ primer plus/Chapter 18/stdmove.cpp
c++ primer plus/Chapter 18/useless.cpp
c++ primer plus/Chapter 18/uselessm.cpp
c++ primer plus/Chapter 18/variadic1.cpp
c++ primer plus/Chapter 18/variadic2.cpp
c++ primer plus/Chapter 18/wrapped0.cpp
c++ primer plus/Chapter 18/wrapped1.cpp
c++ primer plus/Chapter 18/wrapped2.cpp
c++ primer plus/Chapter 2/carrots.cpp
c++ primer plus/Chapter 2/convert.cpp
c++ primer plus/Chapter 2/getinfo.cpp
c++ primer plus/Chapter 2/myfirst.cpp
c++ primer plus/Chapter 2/ourfunc.cpp
c++ primer plus/Chapter 2/sqrt.cpp
c++ primer plus/Chapter 2/test.cpp
c++ primer plus/Chapter 3/arith.cpp
c++ primer plus/Chapter 3/assign.cpp
c++ primer plus/Chapter 3/bondini.cpp
c++ primer plus/Chapter 3/chartype.cpp
c++ primer plus/Chapter 3/divide.cpp
c++ primer plus/Chapter 3/exceed.cpp
c++ primer plus/Chapter 3/floatnum.cpp
c++ primer plus/Chapter 3/fltadd.cpp
c++ primer plus/Chapter 3/hexoct1.cpp
c++ primer plus/Chapter 3/hexoct2.cpp
c++ primer plus/Chapter 3/init.cpp
c++ primer plus/Chapter 3/limits.cpp
c++ primer plus/Chapter 3/modulus.cpp
c++ primer plus/Chapter 3/morechar.cpp
c++ primer plus/Chapter 3/typecast.cpp
c++ primer plus/Chapter 4/addpntrs.cpp
c++ primer plus/Chapter 4/address.cpp
c++ primer plus/Chapter 4/arraynew.cpp
c++ primer plus/Chapter 4/arrayone.cpp
c++ primer plus/Chapter 4/arrstruct.cpp
c++ primer plus/Chapter 4/assgn_st.cpp
c++ primer plus/Chapter 4/choices.cpp
c++ primer plus/Chapter 4/delete.cpp
c++ primer plus/Chapter 4/init_ptr.cpp
c++ primer plus/Chapter 4/instr1.cpp
c++ primer plus/Chapter 4/instr2.cpp
c++ primer plus/Chapter 4/instr3.cpp
c++ primer plus/Chapter 4/mixtypes.cpp
c++ primer plus/Chapter 4/newstrct.cpp
c++ primer plus/Chapter 4/numstr.cpp
c++ primer plus/Chapter 4/pointer.cpp
c++ primer plus/Chapter 4/ptrstr.cpp
c++ primer plus/Chapter 4/strings.cpp
c++ primer plus/Chapter 4/strtype1.cpp
c++ primer plus/Chapter 4/strtype2.cpp
c++ primer plus/Chapter 4/strtype3.cpp
c++ primer plus/Chapter 4/strtype4.cpp
c++ primer plus/Chapter 4/structur.cpp
c++ primer plus/Chapter 4/use_new.cpp
c++ primer plus/Chapter 5/bigstep.cpp
c++ primer plus/Chapter 5/block.cpp
c++ primer plus/Chapter 5/compstr1.cpp
c++ primer plus/Chapter 5/compstr2.cpp
c++ primer plus/Chapter 5/dowhile.cpp
c++ primer plus/Chapter 5/equal.cpp
c++ primer plus/Chapter 5/express.cpp
c++ primer plus/Chapter 5/forloop.cpp
c++ primer plus/Chapter 5/formore.cpp
c++ primer plus/Chapter 5/forstr1.cpp
c++ primer plus/Chapter 5/forstr2.cpp
c++ primer plus/Chapter 5/nested.cpp
c++ primer plus/Chapter 5/nestedcl.cpp
c++ primer plus/Chapter 5/num_test.cpp
c++ primer plus/Chapter 5/plus_one.cpp
c++ primer plus/Chapter 5/textin1.cpp
c++ primer plus/Chapter 5/textin2.cpp
c++ primer plus/Chapter 5/textin3.cpp
c++ primer plus/Chapter 5/textin4.cpp
c++ primer plus/Chapter 5/waiting.cpp
c++ primer plus/Chapter 5/while.cpp
c++ primer plus/Chapter 6/and.cpp
c++ primer plus/Chapter 6/cctypes.cpp
c++ primer plus/Chapter 6/cinfish.cpp
c++ primer plus/Chapter 6/cingolf.cpp
c++ primer plus/Chapter 6/condit.cpp
c++ primer plus/Chapter 6/enum.cpp
c++ primer plus/Chapter 6/if.cpp
c++ primer plus/Chapter 6/ifelse.cpp
c++ primer plus/Chapter 6/ifelseif.cpp
c++ primer plus/Chapter 6/jump.cpp
c++ primer plus/Chapter 6/more_and.cpp
c++ primer plus/Chapter 6/not.cpp
c++ primer plus/Chapter 6/or.cpp
c++ primer plus/Chapter 6/outfile.cpp
c++ primer plus/Chapter 6/sumafile.cpp
c++ primer plus/Chapter 6/switch.cpp
c++ primer plus/Chapter 7/arfupt.cpp
c++ primer plus/Chapter 7/arfupt1.cpp
c++ primer plus/Chapter 7/arrfun1.cpp
c++ primer plus/Chapter 7/arrfun2.cpp
c++ primer plus/Chapter 7/arrfun3.cpp
c++ primer plus/Chapter 7/arrfun4.cpp
c++ primer plus/Chapter 7/arrobj.cpp
c++ primer plus/Chapter 7/calling.cpp
c++ primer plus/Chapter 7/fun_ptr.cpp
c++ primer plus/Chapter 7/lotto.cpp
c++ primer plus/Chapter 7/protos.cpp
c++ primer plus/Chapter 7/recur.cpp
c++ primer plus/Chapter 7/ruler.cpp
c++ primer plus/Chapter 7/strctptr.cpp
c++ primer plus/Chapter 7/strgback.cpp
c++ primer plus/Chapter 7/strgfun.cpp
c++ primer plus/Chapter 7/structfun.cpp
c++ primer plus/Chapter 7/topfive.cpp
c++ primer plus/Chapter 7/travel.cpp
c++ primer plus/Chapter 7/twoarg.cpp
c++ primer plus/Chapter 8/arrtemp.cpp
c++ primer plus/Chapter 8/choices.cpp
c++ primer plus/Chapter 8/cubes.cpp
c++ primer plus/Chapter 8/filefunct.cpp
c++ primer plus/Chapter 8/firstref.cpp
c++ primer plus/Chapter 8/funtemp.cpp
c++ primer plus/Chapter 8/inline.cpp
c++ primer plus/Chapter 8/left.cpp
c++ primer plus/Chapter 8/leftover.cpp
c++ primer plus/Chapter 8/secref.cpp
c++ primer plus/Chapter 8/strc_ref.cpp
c++ primer plus/Chapter 8/strquote.cpp
c++ primer plus/Chapter 8/strtref.cpp
c++ primer plus/Chapter 8/swaps.cpp
c++ primer plus/Chapter 8/tempover.cpp
c++ primer plus/Chapter 8/twoswap.cpp
c++ primer plus/Chapter 8/twotemps.cpp
c++ primer plus/Chapter 9/autoscp.cpp
c++ primer plus/Chapter 9/coordin.h
c++ primer plus/Chapter 9/external.cpp
c++ primer plus/Chapter 9/file1.cpp
c++ primer plus/Chapter 9/file2.cpp
c++ primer plus/Chapter 9/namesp.cpp
c++ primer plus/Chapter 9/namesp.h
c++ primer plus/Chapter 9/newer.h
c++ primer plus/Chapter 9/newplace.cpp
c++ primer plus/Chapter 9/static.cpp
c++ primer plus/Chapter 9/support.cpp
c++ primer plus/Chapter 9/twofile1.cpp
c++ primer plus/Chapter 9/twofile2.cpp
c++ primer plus/Chapter 9/usenmsp.cpp
